@font-face {
    font-family: 'satoshi';
    src: url('./assets/fonts/Satoshi-Variable.ttf');
}

*{
    box-sizing: border-box;
    font-family: 'Jetbrains Mono', sans-serif;
}
h1{
    font-family: 'Jetbrains Mono', sans-serif;
}
::-webkit-scrollbar {display:none;}