.item {
    align-items: center;
    color:gray.600;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 40px;
    justify-content: center;
    width: 40px;
  }
  
  .disabled-page {
    color: #b2bfcc;
  }
  
  .active {
    border: solid 1px #b7dcff;
    border-radius: 40px;
    color: #0084ff;
  }
  
  .break-me {
  }
  
  .pagination-page{
    font-weight: 700;
  }
  .next {

    font-size: 4px;
    height: 60px;
    position: absolute;
    right: 0;
    width: 150px;
  }
  
  .pagination {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    list-style-type: none;
    position: relative;
    width: 700px;
  }
  
  
  .previous {
    font-size: 4px;
    height: 60px;
    left: 0;
    position: absolute;
    width: 150px;
  }